# pnpm配置: https://pnpm.io/zh/npmrc
#如果设置为true，npm将自动安装peerDependencies。
auto-install-peers = true
# 如果设置为true，npm将创建一个lockfile（package-lock.json或npm-shrinkwrap.json）
lockfile = true
#如果设置为true，npm将在工作区中的包之间创建符号链接。
link-workspace-packages = true
# 如果设置为true，npm将在lockfile中包含包的来源信息
provenance = true
# 如果设置为true，npm将保存精确的包版本，而不是使用版本范围。
save-exact = true
#如果设置为false，npm将在安装peerDependencies时不会严格检查版本。
strict-peer-dependencies = false
#这个选项允许你更改npm版本标签的前缀，默认是"v"
tag-version-prefix=""